@font-face {
  font-family: "Inter";
  src: url(webfonts/Inter-Regular.woff2) format("truetype");
}

@font-face {
  font-family: "Inter Black";
  src: url(webfonts/Inter-Black.woff2) format("truetype");
}

body {
  font-family: "Inter";
  margin: auto;
  color: #000000;
  background-color: #fafafa;
}

h1,
h2,
h3 {
  color: #000000;
  font-family: "Inter Black";
}

p {
  hyphens: auto;
  text-align: justify;
}

a {
  color: #0e9a83;
}

::selection { 
  background-color: #64baff;
  color: #fafafa;
}

.date {
  color: #abacae;
}

.image {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
