@font-face {
  font-family: "Inter";
  src: url(webfonts/Inter-Regular.woff2) format("truetype");
}

@font-face {
  font-family: "Inter Black";
  src: url(webfonts/Inter-Black.woff2) format("truetype");
}

body {
  background-color: #fafafa;
  color: #000000;
  font-family: "Inter";
  font-size: 18px;
  line-height: 1.5;
  margin: auto;
  max-width: 650px;
  padding: 0 10px;
}

h1,
h2,
h3 {
  color: #000000;
  font-family: "Inter Black";
}

p {
  hyphens: auto;
  text-align: justify;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fafafa;
    background: #000000;
  }

  h1,
  h2,
  h3 {
    color: #fafafa;
  }
}
