@font-face {
  font-family: "Inter";
  src: url(webfonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Public Sans Extra Bold";
  src: url(webfonts/PublicSans-ExtraBold.ttf) format("truetype");
}

body {
  font-family: "Inter";
  margin: auto;
  color: #111111;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 28px;
}

p {
  hyphens: auto;
  text-align: justify;
}

h1,
h2,
h3 {
  color: #111111;
  font-family: "Public Sans Extra Bold";
}

.date {
  color: #aaaaaa;
}

.image {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
