body {
	background-color: #F5F5F5;
	color: #424242;
	font-family: Calibri, sans-serif;
}

#main {
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	width: 30%;
	margin: auto;
	padding: 25px;
}

.tab {
	margin: 5%;
		
	
}

#tabs {
	padding: 15px;
	text-align: center;
	border-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	margin-bottom: 3vh;
}



#title {
	margin-bottom: 5vh;
	margin-top: 5vh;
	text-align: center;
	width: 100%;
}

